
@media screen and(min-width: 1024px){

}
@media screen and(min-width: 768px) and(max-width: 1023px){

}
@media screen and(max-width: 767px){
main { display:block; }
main nav, main div#content { width: 100%; }
}

  header { background-color: #afa; }
  header nav ul { text-align: right; }
  header nav ul li { display: inline; }

  main { display: flex; }
  main nav { width: 40%; background-color: #aaf; }
  main div#content { width: 60%; background-color: #aff; }

  footer { background-color: rgb(103, 200, 245); }
  footer nav ul { text-align: center; }
  footer nav ul li { display: inline; }
